version: 2

# assume env vars RESTIC_REPOSITORY and RESTIC_PASSWORD come through

global:
  scheduler: crond
  default-command: snapshots
  initialize: true
  priority: low
  restic-lock-retry-after: 1m
  restic-stale-lock-age: 1h

mixins:
  schedule-defaults:
    backup:
      schedule-permission: system
      schedule-priority: background
      schedule-log: $RESTIC_LOGDIR/restic-{{ .Profile.Name }}.log
      schedule-lock-wait: 15m
{{ if .Env.RESTIC_NO_AUTO_REMOTE }}
{{ else }}
      run-finally: 'resticprofile all-remote.copy'
{{ end }}
    retention:
      prune: true
      after-backup: true

  postgres:
    default-vars:
      DB: {{ .Profile.Name | replace "postgres-" "" }}
    backup:
      stdin: true
      stdin-filename: "/data/postgres/$DB.pgdump"
      # host, port, user, password are passed as PG* environment variables
      stdin-command: 'pg_dump $POSTGRES_EXTRA_OPTS -Fc "$DB"'
      tag...: ["postgres"]

  sqlite-tree:
    default-vars:
      NAME: {{ .Profile.Name }}
      SRC_TREE: /data/{{ .Profile.Name | replace "sqlite-" "" }}/
    backup:
      stdin: true
      stdin-filename: /data/sqlite/${NAME}.tar
      stdin-command: /scripts/sqlite-tree-tar.sh ${NAME} ${SRC_TREE}
      tag...: ["sqlite-tree"]

  source-data:
    retention:
      keep-within-hourly: "7d"
      keep-within-daily: "30d"
    backup:
      schedule:
        - hourly
        - "*-*-* 0,4,8,12,16,20:00:00"
        - daily
      tag...: ["source-data"]
    use:
      - name: schedule-defaults

  derived-data:
    retention:
      keep-within-hourly: "7d"
      keep-within-daily: "30d"
    backup:
      schedule:
        - "*-*-* 0,3,6,9,12,15,18,21:00:00"
        - daily
      tag...: ["derived-data"]
    use:
      - name: schedule-defaults

  runtime-data:
    retention:
      keep-within-hourly: "7d"
    backup:
      schedule:
        - hourly
      tag...: ["runtime-data"]
    use:
      - name: schedule-defaults

  server-config:
    retention:
      keep-within-daily: "30d"
    backup:
      schedule:
        - daily
      tag...: ["server-config"]
    use:
      - name: schedule-defaults

  remote-copy:
    default-vars:
      src_repo: $RESTIC_REPOSITORY
      target_repo: ""
      schedule: "hourly"
    initialize: true
    repository: "$src_repo"
    password-file: "/resticprofile/p1"
    lock: "/resticprofile/profile-{{ .Profile.Name }}.lock"
    force-inactive-lock: true
    copy:
      initialize: true
      initialize-copy-chunker-params: true
      repository: "$target_repo"
      password-file: "/resticprofile/p2"

profiles:
  postgres-bgs:
    use:
      - name: postgres
      - name: source-data

  bgs:
    backup:
      source:
        - "/data/bgs"
    use:
      - name: derived-data

  postgres-bsky:
    use:
      - name: postgres
      - name: derived-data

  bsky:
    backup:
      source:
        - "/data/bsky"
    use:
      - name: derived-data

  postgres-carstore:
    use:
      - name: postgres
      - name: derived-data

  postgres-ozone:
    use:
      - name: postgres
      - name: source-data

  postgres-palomar:
    use:
      - name: postgres
      - name: runtime-data

  postgres-plc:
    use:
      - name: postgres
      - name: source-data

  sqlite-pds:
    use:
      - name: sqlite-tree
      - name: source-data

  pds-blobs:
    backup:
      source:
        - "/data/pds/blobs"
    use:
      - name: source-data

  sqlite-feed-generator:
    use:
      - name: sqlite-tree
      - name: source-data

  opensearch:
    backup:
      source:
        - "/data/opensearch"
    use:
      - name: derived-data

{{ if .Env.RESTIC_REMOTE_REPO1 }}
  remote-repo1:
    use:
      - name: remote-copy
        target_repo: "$RESTIC_REMOTE_REPO1"
{{ end }}

{{ if .Env.RESTIC_REMOTE_REPO2 }}
  remote-repo2:
    use:
      - name: remote-copy
        target_repo: "$RESTIC_REMOTE_REPO2"
{{ end }}

{{ if .Env.RESTIC_REMOTE_REPO3 }}
  remote-repo3:
    use:
      - name: remote-copy
        target_repo: "$RESTIC_REMOTE_REPO2"
{{ end }}

{{ define "profiles-source-data" }}
      - postgres-bgs
      - postgres-ozone
      - postgres-plc
      - sqlite-pds
      - pds-blobs
      - sqlite-feed-generator
{{ end }}

{{ define "profiles-derived-data" }}
      - bgs
      - postgres-bsky
      - bsky
      - postgres-carstore
      - opensearch
{{ end }}

{{ define "profiles-runtime-data" }}
      - postgres-palomar
{{ end }}

{{ define "profiles-remote" }}
{{ if .Env.RESTIC_REMOTE_REPO1 }}
      - remote-repo1
{{ end }}
{{ if .Env.RESTIC_REMOTE_REPO2 }}
      - remote-repo2
{{ end }}
{{ if .Env.RESTIC_REMOTE_REPO3 }}
      - remote-repo3
{{ end }}
{{ end }}

groups:
  source-data-local:
    profiles:
{{ template "profiles-source-data" . }}

  derived-data-local:
    profiles:
{{ template "profiles-derived-data" . }}

  runtime-data-local:
    profiles:
{{ template "profiles-runtime-data" . }}

  all-local:
    profiles:
{{ template "profiles-source-data" . }}
{{ template "profiles-derived-data" . }}
{{ template "profiles-runtime-data" . }}

  all-remote:
    profiles:
{{ template "profiles-remote" . }}

  source-data:
    profiles:
{{ template "profiles-source-data" . }}
{{ template "profiles-remote" . }}

  runtime-data:
    profiles:
{{ template "profiles-runtime-data" . }}
{{ template "profiles-remote" . }}

  derived-data:
    profiles:
{{ template "profiles-derived-data" . }}
{{ template "profiles-remote" . }}

  all:
    profiles:
{{ template "profiles-source-data" . }}
{{ template "profiles-derived-data" . }}
{{ template "profiles-runtime-data" . }}
{{ template "profiles-remote" . }}

