{{- if .Values.jaeger.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: jaeger-config
  namespace: {{ .Values.global.namespace }}
  labels:
    app: jaeger
    {{- include "foodios.labels" . | nindent 4 }}
data:
  jaeger.yml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

      # Optional: collect host metrics
      hostmetrics:
        collection_interval: 10s
        scrapers:
          cpu:
          disk:
          filesystem:
          memory:
          network:
          process:
            mute_process_user_error: true

      datadog:
        endpoint: 0.0.0.0:8126
        read_timeout: 60s

    processors:
      batch:
        timeout: 1s
        send_batch_size: 1024

      # Optional: memory limiter to prevent OOM
      memory_limiter:
        limit_mib: 512
        check_interval: 5s

    exporters:
      # Prometheus exporter for metrics
      prometheus:
        endpoint: "0.0.0.0:8889"

      # used to be called logging
      debug:

    service:
      extensions: [jaeger_storage, jaeger_query, health_check, zpages]
      pipelines:
        traces:
          receivers: [otlp, datadog]
          processors: [memory_limiter, batch]
          exporters: [debug]

        metrics:
          receivers: [otlp, hostmetrics, datadog]
          processors: [memory_limiter, batch]
          exporters: [prometheus]

      telemetry:
        resource:
          service.name: jaeger-query
        metrics:
          level: detailed
          readers:
            - pull:
                exporter:
                  prometheus:
                    host: prometheus
                    port: 8888
        logs:
          level: info

    extensions:
      jaeger_query:
        storage:
          traces: query_storage
        ui:
          config_file: /etc/jaeger/config-ui.json

      health_check: # port 13133
      zpages:
        endpoint: ':55679'

    ui:
      config_file = 'jaeger-ui.json'
{{- end }}
