{{- if .Values.jaeger.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: {{ .Values.global.namespace }}
  labels:
    app: jaeger
    {{- include "foodios.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app: jaeger
  ports:
  - name: admin
    port: 14269
    targetPort: 14269
    protocol: TCP
  - name: ui
    port: {{ .Values.jaeger.uiPort }}
    targetPort: {{ .Values.jaeger.uiPort }}
    protocol: TCP
  - name: zpages
    port: 55679
    targetPort: 55679
    protocol: TCP
  - name: otlp-grpc
    port: 4317
    targetPort: 4317
    protocol: TCP
  - name: otlp-http
    port: 4318
    targetPort: 4318
    protocol: TCP
  - name: datadog
    port: 8126
    targetPort: 8126
    protocol: TCP
{{- end }}
