{{- if .Values.grafana.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ .Values.global.namespace }}
  labels:
    app: grafana
    {{- include "foodios.labels" . | nindent 4 }}
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
    {{- if .Values.prometheus.enabled }}
    - name: Prometheus
      type: prometheus
      uid: prometheus
      access: proxy
      url: http://prometheus:{{ .Values.prometheus.port }}
      isDefault: true
      editable: true
      jsonData:
        timeInterval: "15s"
    {{- end }}
    {{- if .Values.jaeger.enabled }}
    - name: Jaeger
      type: jaeger
      uid: jaeger
      access: proxy
      url: http://jaeger:16686
      editable: true
    {{- end }}
{{- end }}
