{{- if .Values.grafana.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: {{ .Values.global.namespace }}
  labels:
    app: grafana
    {{- include "foodios.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: {{ .Values.grafana.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: grafana
{{- end }}
