**~
repos/**
data/**
certs/**
downloads/**
config/**secret**
!config/**secret**.example
**/__pycache__
**/node_modules/**
**/venv*/**
**/package-lock.json
**/*.egg-info/**
*.env
.make-env
.env.*
.*.sw*
.DS_Store
*.apk
*.apks
*.aab
*.ipa
android-builds
ios-builds
tmp-builds