# 0) set which rebranding approach to use for social-app
# set this to true to disable rebranding, but make sure you comply with guidelines
REBRANDING_DISABLED=
# set this to an executable script that will perform rebranding on social-app
REBRANDING_SCRIPT=rebranding/run-rewrite.sh
# this parameter will be used for names of branches etc
REBRANDING_NAME=opensky
# these parameters will be passed as the arguments to REBRANDING_SCRIPT, to allow different branding setups
REBRANDING_PARAMS="opensky"
# this rules file will be applied by apply-feature-branches.sh to create a new versioned branch
FEATURE_BRANCH_RULES=rebranding/opensky/branch-rules.yml
# the name of the web service that will be build, if this is changed from the original (bskyweb)
REBRANDED_WEB_SERVICE=openskyweb
# the path underneath the bluesky-selfhost-env directory to serve a static website from on the PDS domain; defaults to staticweb
PDS_WEB_DIR=

# Require a caddy module to respond to DNS challenges, since otherwise wildcard certificates can't be issued
# CADDY_DNS_PROVIDER=cloudflare
# CADDY_DNS_PACKAGE_SRC=github.com/caddy-dns/${CADDY_DNS_PROVIDER}
# this should be set to the required secure key, with only the required permissions (but don't commit it anywhere!)
# CADDY_DNS_API_TOKEN=
# this should be set to a DNS server's IP address that can swiftly resolve DNS (usually the DNS provider's one)
# CADDY_DNS_RESOLVER=
# Set this to true to enable the config block that imports the dns plugin and settings
# CADDY_DNS_USED=true

# 1) set domain name for self-hosting bluesky
DOMAIN=opensky.local.com
# it is also possible to set particular services to have different domains, as bluesky does. these are the defaults
socialappFQDN=social-app.${DOMAIN}
pdsFQDN=pds.${DOMAIN}
bgsFQDN=bgs.${DOMAIN}
bskyFQDN=bsky.${DOMAIN}
feedgenFQDN=feed-generator.${DOMAIN}
jetstreamFQDN=jetstream.${DOMAIN}
ozoneFQDN=ozone.${DOMAIN}
palomarFQDN=palomar.${DOMAIN}
plcFQDN=plc.${DOMAIN}
publicApiFQDN=public.api.${DOMAIN}
apiFQDN=api.${DOMAIN}

# UI-visible branding things
SOCIAL_APP_NAME=Opensky
SOCIAL_APP_DESCRIPTION="the open social internet"
SOCIAL_APP_EMOJI="🦋"
SOCIAL_APP_URL="https://${socialappFQDN}"
PDS_EMAIL_IMAGES_BASE_URL="https://${socialappFQDN}/static/"

# Docker-related settings
# the name of the docker network that will be set up
docker_network=${REBRANDING_NAME:-bsky}_${DOMAIN}
# the default docker hub namespace for base bluesky images (unbranded)
UNBRANDED_NAMESPACE=itaru2622
# the default docker hub namespace for branded images (change this in order to publish your own elsewhere)
BRANDED_NAMESPACE=itaru2622

# 2) set asof date, to distinguish docker images / its sources.
#    2024-11-09(for latest prebuild, in %Y-%m-%d), or latest (following docker image naming manner in lazy).
asof=latest
branded_asof=latest # if you want to tag your local builds differently

# 3) set email addresses.

# 3-1) EMAIL4CERTS:  to lets encrypt for signing certificates.
# It is recommended to use `internal` for avoid meeting rate limits, until you are sure it ready to self-hosting.
EMAIL4CERTS=
NODE_TLS_REJECT_UNAUTHORIZED=1    # to check if self-signed certificates aren't deploying, set this temporarily to 0
# use this for self-signed certificates:
# CUSTOM_CERTS_DIR=/etc/ssl/certs
# use this when using trusted certificates:
CUSTOM_CERTS_DIR=/tmp/dummy-certs
# use this for self-signed certificates
# UPDATE_CERTS_CMD='apk add ca-certificates ; update-ca-certificates'
# use this when using trusted certificates:
UPDATE_CERTS_CMD=

# 3-2) PDS_EMAIL_SMTP_URL: for PDS,
# for gmail: smtps://youraccount:your-app-password@smtp.gmail.com:465/
# for mailjet: smtp://apikey:secretkey@in-v3.mailjet.com:587/
# but check which ports are accessible from your host
PDS_EMAIL_SMTP_URL=smtps://
PDS_EMAIL_FROM_ADDRESS=

# 3-3) FEEDGEN_EMAIL: for feed-generator account in bluesky
FEEDGEN_EMAIL=feedgen@${DOMAIN}

# 4) OZONE_ADMIN_EMAIL and what confirmation address to send email about ozone account; the same by default
OZONE_ADMIN_EMAIL=ozone@${DOMAIN}
OZONE_CONFIRMATION_ADDRESS=${OZONE_ADMIN_EMAIL}

# 5-1) secure passwords, rather than defaults
POSTGRES_USER=pg

# 5-2) expected handles etc based on DOMAIN
OZONE_ADMIN_HANDLE=ozone-admin.${pdsFQDN}
FEEDGEN_PUBLISHER_HANDLE=feedgen.${pdsFQDN}

# 6) generated DIDs etc
# feedgen DID
# FEEDGEN_PUBLISHER_DID=did:plc:xxxxxx

# generated ozone DID
# OZONE_SERVER_DID=did:plc:xxxxxx
# OZONE_ADMIN_DIDS=did:plc:xxxxxx


BSKY_LABELS_FROM_ISSUER_DIDS=did:example:labeler

# adjusting the default settings for invite codes
# PDS_INVITE_INTERVAL=604800000 # 1 week - interval at which each user is issued 5 invites
PDS_INVITE_INTERVAL=
PDS_INVITE_REQUIRED=false # no invites required

# 7) things that relate to building docker images, git etc
# fork_repo_name=fork # this is the default name but you can use a different name if you prefer
# fork_repo_prefix =git@github.com:itaru2622/bluesky-
fork_repo_prefix=git@github.com:inconceivableza/
# branches for particular repos can be set like this:
# pds_branch=1.99.0-opensky
# social_app_branch=1.99.0-opensky
social_app_branch=brightsun/1.105.0-foodios
atproto_branch=brightsun/brightsun
indigo_branch=brightsun/brightsun
did_method_plc_branch=brightsun/brightsun

# 8) Other things that the script reported as undefined

# GOINSECURE allows the go programming language compiler to fetch packages insecurely from these domains
# If you set EMAIL4CERTS=internal and are using self-signed certificates, you may need this
GOINSECURE=none.safetyfirst
LOG_LEVEL_DEFAULT=info

# 9) Configuration for Android build
JAVA_HOME=/usr/lib/jvm/zulu17-ca-amd64/
ANDROID_HOME=~/Android/Sdk/

# 10) Configuration for Restic backups
# remotes to copy the backups to
RESTIC_REMOTE_REPO1=
RESTIC_REMOTE_REPO2=
RESTIC_REMOTE_REPO3=
# If you are using AWS or another S3-compatible storage serviec, the following keys are used for credentials
RESTIC_AWS_ACCESS_KEY_ID=
# If you are using Google Cloud Storage, this contains the name of the Google Cloud Project ID
RESTIC_GOOGLE_PROJECT_ID=
# The name of the file in data/accounts/backup-credentials/ to be used as a Google service account JSON key file
RESTIC_GOOGLE_APPLICATION_CREDENTIALS=

# 11) (Optional) configuration for sentry logging and statsig
# to enable sentry with a private token obtained from sentry settings -> auth tokens
# SENTRY_AUTH_TOKEN=
# to override the default versions reported by the app
# SENTRY_RELEASE=
# SENTRY_DIST=
# where sentry events are reported to, from sentry settings -> org -> project -> Client Keys (DSN)
# EXPO_PUBLIC_SENTRY_DSN=
# sentry org and project for source map uploads
# SENTRY_ORG=
# SENTRY_PROJECT=
# sentry environment - production, staging, development, etc
# SENTRY_ENVIRONMENT=
# to use a different url and/or client api key for the statsig api
# EXPO_PUBLIC_STATSIG_API_URL=
# EXPO_PUBLIC_STATSIG_CLIENT_KEY=
# server key (e.g. 'secret-NNNNN') and env (e.g. 'development') for the statsig api to by used from bsky
# BSKY_STATSIG_KEY=
# BSKY_STATSIG_ENV=

# 12) (Optional) docker build variables - only used in docker-compose-builder.yaml
JAVA_TOOL_OPTIONS=
http_proxy=
https_proxy=
no_proxy=
