{{- if .Values.pds.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: pds-handles-secure
  namespace: {{ .Values.global.namespace }}
  labels:
    app: pds
    {{- include "foodios.labels" . | nindent 4 }}
spec:
  entryPoints:
    - websecure
  routes:
  - kind: Rule
    match: HostRegexp(`^[a-z0-9-]+\.{{ .Values.fqdns.pds | replace "." "\\." }}$`)
    services:
    - name: pds
      port: {{ .Values.pds.port }}
  {{- if .Values.global.tls.enabled }}
  tls:
    {{- if .Values.global.developmentMode }}
    secretName: {{ .Values.global.tls.secretName }}
    {{- else }}
    certResolver: letsencrypt
    {{- end }}    
    domains:
    - main: "*.{{ .Values.fqdns.pds }}"
  {{- end }}
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: pds-handles-insecure
  namespace: {{ .Values.global.namespace }}
  labels:
    app: pds
    {{- include "foodios.labels" . | nindent 4 }}
spec:
  entryPoints:
    - web
  routes:
  - kind: Rule
    match: HostRegexp(`^[a-z0-9-]+\.{{ .Values.fqdns.pds | replace "." "\\." }}$`)
    services:
    - name: pds
      port: {{ .Values.pds.port }}
    {{- if .Values.global.tls.enabled }}
    middlewares:
    - name: redirect-https
  {{- end }}
---
{{- if .Values.global.tls.enabled }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: {{ .Values.global.namespace }}
spec:
  redirectScheme:
    scheme: https
    permanent: true
{{- end }}
{{- end }}
