ATP_APPVIEW_URL=https://{{apiFQDN}}
ATP_PDS_URL=https://{{pdsFQDN}}
ATP_PUBLIC_APPVIEW_URL=https://{{publicApiFQDN}}
CORS_ALLOWED_ORIGINS=https://{{socialappFQDN}}
GIF_SERVICE=
LINK_HOST={{linkFQDN}}
OGCARD_URL=https://{{cardFQDN}}
PREVIEW_LINK_META_PROXY=
SOCIAL_APP_HOST={{socialappFQDN}}
SOCIAL_APP_URL=https://{{socialappFQDN}}
SOCIAL_EMBED_SERVICE=https://{{embedFQDN}}
SOCIAL_HELP_DESK_URL={{SOCIAL_HELP_DESK_URL}}
SOCIAL_POLICY_BASE_URL={{SOCIAL_POLICY_BASE_URL}}
STATUS_PAGE_URL={{STATUS_PAGE_URL}}
VIDEO_SERVICE=
VIDEO_SERVICE_DID=
# Will these Vite things work with our different environments?
VITE_EMBED_URL={{embedFQDN}}
VITE_SOCIAL_APP_ABOUT=https://{{pdsFQDN}}/about
VITE_CARD_HOST={{cardFQDN}}
VITE_LINK_HOST={{linkFQDN}}
VITE_PUBLIC_APPVIEW_HOST={{publicApiFQDN}}
VITE_SOCIAL_APP_HOST={{socialappFQDN}}