EXPO_PUBLIC_ATP_APPVIEW_URL=https://{{apiFQDN}}
EXPO_PUBLIC_ATP_PDS_URL=https://{{pdsFQDN}}
EXPO_PUBLIC_ATP_PUBLIC_APPVIEW_URL=https://{{publicApiFQDN}}
EXPO_PUBLIC_CORS_ALLOWED_ORIGINS=https://{{socialappFQDN}}
EXPO_PUBLIC_GIF_SERVICE=
EXPO_PUBLIC_LINK_HOST={{linkFQDN}}
EXPO_PUBLIC_OGCARD_URL=https://{{cardFQDN}}
EXPO_PUBLIC_PREVIEW_LINK_META_PROXY=
EXPO_PUBLIC_SOCIAL_APP_HOST={{socialappFQDN}}
EXPO_PUBLIC_SOCIAL_APP_URL=https://{{socialappFQDN}}
EXPO_PUBLIC_SOCIAL_EMBED_SERVICE=https://{{embedFQDN}}
EXPO_PUBLIC_SOCIAL_HELP_DESK_URL={{SOCIAL_HELP_DESK_URL}}
EXPO_PUBLIC_SOCIAL_POLICY_BASE_URL={{SOCIAL_POLICY_BASE_URL}}
EXPO_PUBLIC_STATUS_PAGE_URL={{STATUS_PAGE_URL}}
EXPO_PUBLIC_VIDEO_SERVICE=
EXPO_PUBLIC_VIDEO_SERVICE_DID=
# Will these Vite things work with our different environments?
VITE_EMBED_URL={{embedFQDN}}
VITE_SOCIAL_APP_ABOUT=https://{{pdsFQDN}}/about
VITE_CARD_HOST={{cardFQDN}}
VITE_LINK_HOST={{linkFQDN}}
VITE_PUBLIC_APPVIEW_HOST={{publicApiFQDN}}
VITE_SOCIAL_APP_HOST={{socialappFQDN}}
