EXPO_PUBLIC_ATP_APPVIEW_URL=https://{{apiFQDN}}
EXPO_PUBLIC_ATP_PDS_URL=https://{{pdsFQDN}}
EXPO_PUBLIC_ATP_PUBLIC_APPVIEW_URL=https://{{publicApiFQDN}}
EXPO_PUBLIC_CORS_ALLOWED_ORIGINS=https://{{socialappFQDN}}
EXPO_PUBLIC_GIF_SERVICE=
EXPO_PUBLIC_LINK_HOST={{linkFQDN}}
EXPO_PUBLIC_OGCARD_URL=https://{{cardFQDN}}
EXPO_PUBLIC_PREVIEW_LINK_META_PROXY=
EXPO_PUBLIC_SOCIAL_APP_HOST={{socialappFQDN}}
EXPO_PUBLIC_SOCIAL_APP_URL=https://{{socialappFQDN}}
EXPO_PUBLIC_SOCIAL_EMBED_SERVICE=https://{{embedFQDN}}
EXPO_PUBLIC_SOCIAL_HELP_DESK_URL={{SOCIAL_HELP_DESK_URL}}
EXPO_PUBLIC_SOCIAL_POLICY_BASE_URL={{SOCIAL_POLICY_BASE_URL}}
EXPO_PUBLIC_STATUS_PAGE_URL={{STATUS_PAGE_URL}}
EXPO_PUBLIC_VIDEO_SERVICE=
EXPO_PUBLIC_VIDEO_SERVICE_DID=
# VITE_ variables are used by {bsky}embed. 
# The actual running embed server will need to use a particular set of them, depending on whether it is production, testing or development
# They are set to the following values in docker-compose, which loads them from the appropriate .env like everything else
# VITE_CARD_URL=https://{{cardFQDN}}
# VITE_EMBED_GENERATOR={{REBRANDED_WEB_SERVICE}}
# VITE_EMBED_URL=https://{{embedFQDN}}
# VITE_LINK_URL=https://{{linkFQDN}}
# VITE_PUBLIC_APPVIEW_URL=https://{{publicApiFQDN}}
# VITE_SOCIAL_APP_ABOUT=https://{{pdsFQDN}}/about
# VITE_SOCIAL_APP_HOST={{socialappFQDN}}
# VITE_SOCIAL_APP_NAME={{SOCIAL_APP_NAME}}
# VITE_SOCIAL_APP_URL=https://{{socialappFQDN}}